// src\assets\styles\Variables\Variables.scss
@import '../../styles/Variables/Variables.scss';



.homepage-welcome {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $redColor;
    }

    button {
        @include buttonStyle($redColor, 25px);
    }
}